/* *{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */

.icon{
  cursor: pointer;
  color: white;
}
.icon:hover{
  color: blanchedalmond;
}
.icon:focus{
  color: blanchedalmond;
 }