* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    position: relative;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
.hi { 
    z-index: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.row {
    display: block;
    position: relative;
    margin: auto;
    width: 200px;
    height: 100px;
}
.box-red {          
    background-color: red;
    height: 100px;
    width: 100px;  
    position: absolute;  
    left: 0;
    top: 0;
    z-index: 1;    
  }
  
  .box-yellow {
    background: yellow;
    height: 100px;
    width: 100px; 
    position: absolute;  
    left: 100px;
    top: 0;
    z-index: 1;
  }
  .box-blue {          
    background: blue;
    height: 100px;
    width: 100px; 
    position: absolute;  
    left: 0;
    top: 0;   
    z-index: 1;    
  }
  
  .box-green {
    background: green;
    height: 100px;
    width: 100px; 
    position: absolute;  
    left: 100px;
    top: 0;
    z-index: 1;
  }