<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('pages/partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('pages/partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <h1>This is a weather app</h1>
        <div class="input-group mb-3 my-5">
          <form
            action="/"
            method="post"
            class="form-inline">
            <div class="form-group mb-2">
              <input
                name="city"
                type="text"
                class="form-control mx-sm-3"
                placeholder="Enter city name" />
            </div>

            <button
              type="submit"
              value="Get weather"
              class="btn btn-primary mb-2">
              Submit
            </button>
          </form>
        </div>
      </div>
    </main>

    <footer><%- include('pages/partials/footer'); %></footer>
  </body>
</html>
